$def with (course, data, errors, saved, AccessibleTime, problems, problemdump, bank_name, techniques, structures)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#
$var title: Edit contest $data.get('name', '')
$def ColumnF():
    $:template_helper.call('course_admin_menu',course=course,current='contest')
    <a href="#contest_edit_submit_status" class="btn btn-primary btn-block task_edit_submit_button" type="button" onclick="studio_contest_submit()"><i class="fa fa-save"></i> Save changes</a>
$var Column: $:ColumnF()

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li><a href="$get_homepath()/course/$course.get_id()">$course.get_name()</a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()" title="Administration" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-user-secret"></i></a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()/contest" title="Contests" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-trophy"></i></a></li>
        <li class="active"><a href="#">Edit contest "$data.get('name', 'new contest')" <span class="sr-only">(current)</span></a></li>
    </ol>
$var Navbar: $:NavbarF()

<h2>
    Edit contest "$data.get('name', 'new contest')"

    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-primary btn-success btn-sm task_edit_submit_button" type="button" onclick="studio_contest_submit()"><i class="fa fa-save"></i> Save changes</button>
        </div>
    </div>
</h2>
$if errors is not None:
    $for error in errors:
        <div class="alert alert-danger" role="alert">$error</div>
$elif saved:
    <div class="alert alert-success" role="alert">Settings saved.</div>
<div id="contest_edit_submit_status"></div>
<form id="edit_contest_form" method="post" enctype="multipart/form-data" class="form-horizontal">
    <input type="hidden" name="@action" value="edit_task"/>

    <div role="tabpanel">
        <ul class="nav nav-tabs" id="edit_task_tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab_basic" aria-controls="basicinfo" role="tab" data-toggle="tab"><i class="fa
                fa-cog fa-fw"></i>&nbsp; Basic settings</a></li>
            <li role="presentation"><a href="#tab_container" aria-controls="container" role="tab" data-toggle="tab"><i class="fa
                fa-cube fa-fw"></i>&nbsp; Problems</a></li>
        </ul>
        <div id="edit_task_tabs_content" class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab_basic">
                $:include.course_admin.contest_tabs.basic(course, data, AccessibleTime)
            </div>

            <div role="tabpanel" class="tab-pane" id="tab_container">
                $:include.course_admin.contest_tabs.problems(course, data, problems, bank_name, techniques, structures)
            </div>

        </div>
    </div>
    <a href="#contest_edit_submit_status" class="btn btn-primary btn-block task_edit_submit_button" type="button" onclick="studio_contest_submit()"><i class="fa fa-save"></i> Save changes</a>
</form>
<div id="delete_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete contest</h4>
                </div>
                <div class="modal-body">
                    <p>This will <b>permanently</b> remove the contest from the course.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" name="delete" class="btn btn-danger">Delete contest</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Must be out of the form -->
<div id="subproblem_templates" style="display:none">
    <div id="problem_basic">
        <div class="panel panel-default" id="subproblem_well_PID" >
            <div class="panel-heading" role="tab" id="heading_PID">
                <div class="row">
                    <div class="col-md-10" >
                        <span role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_PID" aria-controls="collapse_PID">
                            <i class="fa fa-bars"></i> Problem id: <span id="pid-PID">PID</span>
                        </span>
                    </div>
                    <input type="hidden" class="form-control" id="name-PID" name="problem[PID][name]"/>
                    <div class="col-md-2">
                        <a style="margin: 0px 4px 0px; cursor:pointer;" class="pull-right" type="button" onclick="studio_contest_problem_delete('PID')"><i class="fa fa-lg fa-trash-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_file_upload" style="z-index: 9999;" tabindex="-1" role="dialog" aria-labelledby="modal_file_upload_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal_file_upload_label">Add a new type of problem</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="action" value="upload"/>
                    <div class="form-group">
                        <label for="add-quantity" class="control-label"># of problems to be added:</label>
                        <input type="number" class="form-control" id="add-quantity" name="add-quantity" min="1" placeholder="1"/>
                    </div>
                    <div class="form-group">
                        <label for="add-technique" class="control-label">Technique:</label>
                        <select id="add-technique" class="form-control" name="add-technique">
                            $for category in techniques:
                                <option value="$category">$category</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="add-structure" class="control-label">Structure:</label>
                        <select id="add-structure" class="form-control" name="add-structure">
                            $for structure in structures:
                                <option value="$structure">$structure</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="add-difficulty" class="control-label">Difficulty (1-10):</label>
                        <input type="number" class="form-control" id="add-difficulty" name="add-difficulty" value="" min="1" max="10" placeholder="1"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="studio_add_type_problem();event.preventDefault();">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_add_problems_manually" tabindex="-1" role="dialog" aria-labelledby="modal_add_problems_manually_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal_add_problems_manually_label">Add problems manually</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label for="problem_id" class="col-sm-2 control-label">Select a problem from the list</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="problem_id" placeholder="Select a problem...">
                                $for problem in problems:
                                    <option value="${problem.get_id()}">${problem.get_id()} - ${problem.get_name()}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" target="_blank" class="btn btn-primary btn-large" onclick="studio_preview_problem('${bank_name}');">Preview</button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary btn-large" onclick="studio_create_new_contest_problem();">Add</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_generate_contest" tabindex="-1" role="dialog" aria-labelledby="modal_generate_contest_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal_generate_contest_label">Add problems manually</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-condensed" id="generate_contest">
                        <tr>
                            <th># problems</th>
                            <th>Technique</th>
                            <th>Structure</th>
                            <th>Difficulty</th>
                            <th>Actions</th>
                        </tr>
                    </table>


                    <table class="table table-bordered table-condensed">

                        <tr>
                            <th colspan="9" style="text-align:right">
                                <a href="#" onclick="$$('#modal_file_upload').modal('show'); return false;" class="btn btn-sm btn-primary">Add a new type</a>
                                <a onclick="studio_generate_new_contest();" class="btn btn-sm btn-primary contest_generate_submit_button" data-dismiss="modal">Generate!</a>
                            </th>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="display: none;">
    <form id="generate_contest_form" method="post" enctype="multipart/form-data" class="form-horizontal">>
        <input type="hidden" name="generate" value="1"/>
        <table id="cloned_info">

        </table>
        <table id="problems_cloned">

        </table>
    </form>
</div>



<!-- Init the javascript for the subproblem tab -->
<script type="text/javascript">
    problem_data = $:{problemdump};
    $$ (function(){ studio_contest_load(problem_data); });

    $$('#problem_id').selectize();
</script>
