$def with (course,entries,current)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<div class="list-group">
    $for link, name in entries:
        <a href="$get_homepath()/admin/${course.get_id()}/${link}" class="list-group-item
        $if link=='danger':
            list-group-item-danger

        $if current == link:
            active
        ">$:name</a>
</div>

$ pending_clarifications = list(contest_manager.get_admin_pending_clarifications(course.get_id()))

$if len(pending_clarifications)>0:
    <script>
        var url_inginious = [location.protocol, '//', location.host].join('');
        console.log(url_inginious)
        $$.notify({
            title: '<strong>Pending clarifications</strong><br>',
            message: 'There are pending clarifications to review.',
            url: url_inginious+'/admin/${course.get_id()}/contest',
	        target: '_blank'
        },{
            type: 'warning',
            delay: 2000
        });
    </script>