$def with (course,user_data,error,post)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:course.get_name()

$var Column: $:template_helper.call('course_admin_menu',course=course,current='students')

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li><a href="$get_homepath()/course/$course.get_id()">$course.get_name()</a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()" title="Administration" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-user-secret"></i></a></li>
        <li class="active">
            <a href="#">
                <i class="fa fa-user"></i> Students <span class="sr-only">(current)</span>
            </a>
        </li>
    </ol>
$var Navbar: $:NavbarF()

<h2>Students</h2>

<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab_students" aria-controls="students" role="tab" data-toggle="tab">
            <i class="fa fa-user fa-fw"></i>&nbsp; Students</a>
        </li>
        <li role="presentation"><a href="#tab_staff" aria-controls="staff" role="tab" data-toggle="tab">
            <i class="fa fa-user-secret fa-fw"></i>&nbsp; Teaching staff</a>
        </li>

    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab_students">
            $:include.course_admin.student_list_table(course,user_data[len(course.get_staff()):len(user_data)], False)
            $if user_manager.has_admin_rights_on_course(course):
                <div class="row">
                    <form class=form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-9"><input type="text" class="form-control" name="username" placeholder="Student username"/></div>
                            <div class="col-sm-3"><button name="register" type="submit" class="btn btn-warning btn-block"><i class="fa fa-plus fa-lg"></i> Add student</button></div>
                        </div>
                    </form>
                </div>

            $if user_manager.has_admin_rights_on_course(course):
                <hr>
                <div class="alert alert-warning alert-dismissable" id="alert_import" role="alert" style="display:none;">

                    <div id="alert_content">
                    </div>
                </div>
                <h3>Import students</h3>
                <p>The file must be a valid CSV <b>with the following header line</b>: email,realname,password,username (where username is the student code)</p>
                <div class="row">
                    <form class=form-horizontal" method="post" id="import_form" action="/import" >

                        <div class="form-group">
                           <label for="users_file" class="col-sm-3 control-label">Select file to import:</label>
                           <div class="col-sm-9">
                               <input type="file" class="filestyle form-control" id="users_file" name="users_file" placeholder="Student username" data-buttonName="btn-primary" data-buttonBefore="true" accept=".csv"/>
                           </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">Send credentials to new users via email</label>
                            <div class="col-sm-9">
                                <div class="checkbox"><label>
                                    <input type="checkbox" id="email" name="email" >
                                </label></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="course" id="course" value="${course.get_id()}"/>
                            <div class="col-sm-12"><a name="import" id="import" class="btn btn-warning btn-block" onclick="studio_import_users();"><i class="fa fa-plus fa-lg"></i> Import students</a></div>
                        </div>
                    </form>
                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab_staff">
            $:include.course_admin.student_list_table(course,user_data[0:len(course.get_staff())], True)
        </div>
    </div>
</div>
