$def with (course,username,task,submissionid,submission,to_display)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$ user_realname= user_manager.get_user_realname(username)
$var title: $:task.get_name() - $:user_realname - $:course.get_name()
$ is_admin = user_manager.has_admin_rights_on_course(course)
$ r = "<br />"
$var Column: $:template_helper.call('course_admin_menu',course=course,current='students')

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li><a href="$get_homepath()/course/$course.get_id()">$course.get_name()</a></li>
        <li>
            <a href="$get_homepath()/admin/$course.get_id()" title="Administration" data-toggle="tooltip" data-placement="bottom">
                <i class="fa fa-user-secret"></i>
            </a>
        </li>
        <li>
            <a href="$get_homepath()/admin/$course.get_id()/students" title="Students" data-toggle="tooltip" data-placement="bottom">
                <i class="fa fa-user"></i>
            </a>
        </li>
        <li><a href="$get_homepath()/admin/$course.get_id()/student/$username">$user_realname</a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()/student/$username/$task.get_id()">$:task.get_name()</a></li>
        <li class="active"><a href="#">$submissionid[0:10] <span class="sr-only">(current)</span></a></li>
    </ol>
$var Navbar: $:NavbarF()

<h2>Submission $submissionid[0:10] - "$:task.get_name()" - $user_realname ($username)</h2>
<div class="alert alert-info text-center">
    This page show what was shown to the student when (s)he made his/her submission. <br/>
    <form method="post">
        <div class="row">
            <div class="col-md-12" style="margin:2px 0px 2px 0px;">
                <a onclick="$$('.student_view').slideToggle()" class="btn btn-sm btn-block btn-primary">
                    <i class="fa fa-filter fa-fw"></i> Click here to hide/display context informations
                </a>
            </div>
            $if "result"  in submission:
                <div class="col-md-12" style="margin:2px 0px 2px 0px;">
                    <a href="$get_homepath()/admin/$course.get_id()/download?submission=$submissionid" class="btn btn-sm btn-block btn-primary">
                        <i class="fa fa-download fa-fw"></i> Download full submission
                    </a>
                </div>

            $if is_admin:
                <div class="col-md-4" style="margin:2px 0px 2px 0px;">
                    <button type="submit" name="replay" class="btn btn-sm btn-block btn-primary">
                        <i class="fa fa-refresh fa-fw"></i> Replay submission
                    </button>
                </div>
            <div class="col-md-$('4' if is_admin else '12')" style="margin:2px 0px 2px 0px;">
                <button type="submit" name="replay-copy" class="btn btn-sm btn-block btn-primary">
                    <i class="fa fa-copy fa-fw"></i> Replay as $user_manager.session_realname()
                </button>
            </div>
            $if is_admin:
                <div class="col-md-4" style="margin:2px 0px 2px 0px;">
                    <button type="submit" name="replay-debug" class="btn btn-sm btn-block btn-primary">
                        <i class="fa fa-terminal fa-fw"></i> Replay/debug as $user_manager.session_realname()
                    </button>
                </div>

        </div>
    </form>
</div>
<div class="student_view">
    $:task.get_context()
</div>
$if submission["status"] == "waiting":
    $ color="warning"
$elif "result" not in submission:
    $ color="danger"
$elif submission["result"] == "success":
    $ color="success"
$elif submission["result"] in ["timeout", "overflow"]:
    $ color="warning"
$else:
    $ color="danger"
<div class="alert alert-$color">
    $if submission["status"] == "waiting":
        Grading in progress, reload the page to refresh status.
    $elif "result" not in submission:
        $if submission["text"]:
            $:submission["text"]
    $else:
        Result:  $submission["result"] <br/>
        Grade: $submission["grade"] %
        $if submission["text"]:
            <br/>
            <br/>
            $:submission["text"]
</div>

$if submission["custom"].get("diff2",-1)!=-1 and submission["custom"].get("diff1",-1)!=-1:
    <div style="display:none;">
        <textarea id="orig1">$submission["custom"].get("diff1","")</textarea>
        <textarea id="orig2">$submission["custom"].get("diff2","")</textarea>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Result: User output vs Problem output
            </h3>
        </div>


        <div class="panel-body">
            Testcase name: $submission["custom"].get("case_name","Not avaliable for this submission")
            <br>
            <div id="diff"></div>
        </div>
    </div>

    <script>
        registerDiffEditor('diff', "orig1", "orig2");
    </script>
$elif submission["custom"].get("diff1",-1)!=-1:
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Result: Runtime error
            </h3>
        </div>



        <div class="panel-body">
            Testcase name: $submission["custom"].get("case_name","Not avaliable for this submission")
            <textarea  class="form-control" readonly rows="10" id="diff">$submission["custom"].get("diff1","")</textarea>
        </div>
    </div>

$elif submission["custom"].get("case_name",-1)!=-1:
    <div class="panel panel-default">



        <div class="panel-body">
            Testcase name: $submission["custom"].get("case_name","Not avaliable for this submission")
        </div>
    </div>