$def with (open_contests)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: My contests

$# Left column content
$def ColumnF():
    $:template_helper.call('main_menu', template_helper=template_helper)
$var Column: $:ColumnF()

$# Start content
<h2>My contests</h2>
<div class="list-group list-group-progress" style="margin-left: 16px; margin-right: 16px;">
	$if len(open_contests) != 0:
        <a class="list-group-item row">
            <div class="col-sm-3">
                <label>Contest name</label>
            </div>
            <div class="col-sm-3">
                <label>Description</label>
            </div>
            <div class="col-sm-3">
                <label>Start date</label>
            </div>
            <div class="col-sm-3">
                <label>End date</label>
            </div>
        </a>
        $ username = user_manager.session_username()
        $for courseid, scoreboard in open_contests.items():
            $for sid, val in scoreboard.items():
                <a href="$get_homepath()/contest/$courseid/$sid/overview" class="list-group-item row">
                    <div class="col-sm-3">
                        <label>$val["name"]</label>
                    </div>
                    <div class="col-sm-3">$val.get('description','')</div>
                    <div class="col-sm-3">$val["start"]</div>
                    <div class="col-sm-3">$val["end"]</div>
                </a>
    $else:
        <a class="list-group-item row disabled">You are not registered to any contest.</a>
</div>
<hr/>