$def with (open_contests)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$ is_admin = user_manager.has_admin_rights_on_course(course)

$var title: My contests

$# Left column content
$def ColumnF():
    $:template_helper.call('main_menu', template_helper=template_helper)
$var Column: $:ColumnF()

$# Start content
<h2>My contests</h2>
<div class="list-group list-group-progress" style="margin-left: 16px; margin-right: 16px;">
	$if len(open_contests) != 0:
        <a class="list-group-item row">
            <div class="col-sm-2">
                <label>Contest name</label>
            </div>
            <div class="col-sm-3">
                <label>Description</label>
            </div>
            <div class="col-sm-2">
                <label>Start date</label>
            </div>
            <div class="col-sm-2">
                <label>End date</label>
            </div>
            <div class="col-sm-3">
                <label>Additional observations</label>
            </div>
        </a>
        $ username = user_manager.session_username()
        $for courseid, scoreboard in open_contests.items():
            $for sid, val in scoreboard.items():
                <a href="$get_homepath()/contest/$courseid/$sid/overview" class="list-group-item row">
                    <div class="col-sm-2">
                        <label>$val["name"]</label>
                    </div>
                    <div class="col-sm-3">$val.get('description','')</div>
                    <div class="col-sm-2">$val["start"]</div>
                    <div class="col-sm-2">$val["end"]</div>
                    <div class="col-sm-3">
                        $if is_admin and len(list(contest_manager.get_admin_pending_clarifications_by_contest(courseid, sid)))>0:
                            <b>There are pending answered clarifications to review!</b>

                        $elif not is_admin and len(list(contest_manager.get_contestant_pending_clarifications_by_contest(courseid, sid)))>0:
                            <b>There are pending answered clarifications to review!</b>
                        $else:
                            None
                    </div>
                </a>
    $else:
        <a class="list-group-item row disabled">You are not registered to any contest.</a>
</div>
<hr/>