$def with (course, scoreboard)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:course.get_name()

$# Left column content
$def ColumnF():
    $:template_helper.call('course_menu', course=course, template_helper=template_helper)

    <h3>Course management</h3>

    $if user_manager.has_staff_rights_on_course(course):
        <div class="list-group">
            <a class="list-group-item" href="$get_homepath()/admin/$course.get_id()">
                <i class="fa fa-user-secret fa-fw"></i>&nbsp; Course administration
            </a>
        </div>
    $else:
        <div class="list-group">
            <a class="list-group-item list-group-item-info" href="$get_homepath()/aggregation/$course.get_id()">
                <i class="fa fa-group fa-fw"></i>&nbsp;
                $ myaggregation = user_manager.get_course_user_aggregation(course)
                $if course.use_classrooms():
                    Classroom : $myaggregation["description"]
                $elif len(myaggregation['groups']) > 0 and user_manager.session_username() in myaggregation['groups'][0]['students']:
                    Team : $myaggregation['description']
                $else:
                    Teams management
            </a>
            $if course.allow_unregister():
                $:include.unregister_button(course)
        </div>
$var Column: $:ColumnF()

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li class="active"><a href="#">$course.get_name() <span class="sr-only">(current)</span></a></li>
    </ol>
$var Navbar: $:NavbarF()

$# Start content
<h2>Contests</h2>
<div class="list-group list-group-progress" style="margin-left: 16px; margin-right: 16px;">
	$if len(scoreboard) != 0:
        <a class="list-group-item row">
            <div class="col-sm-2">
                <label>Contest name</label>
            </div>
            <div class="col-sm-3">
                <label>Description</label>
            </div>
            <div class="col-sm-2">
                <label>Start date</label>
            </div>
            <div class="col-sm-2">
                <label>End date</label>
            </div>
            <div class="col-sm-3">
                <label>Additional observations</label>
            </div>
        </a>
        $for sid, val in scoreboard.items():
            <a href="$get_homepath()/contest/$course.get_id()/$sid/scoreboard" class="list-group-item row $('disabled' if not val['enabled'] else '')">
                <div class="col-sm-2">
                    <label>$val["name"]</label>
                </div>
                <div class="col-sm-3">$val.get('description','')</div>
                <div class="col-sm-2">$val["start"]</div>
                <div class="col-sm-2">$val["end"]</div>
                <div class="col-sm-3">
                    $if len(list(contest_manager.get_contestant_pending_clarifications_by_contest(course.get_id(), sid)))>0:
                        There are pending answered clarifications to review!
                    $else:
                        None
                </div>
            </a>
    $else:
        <a class="list-group-item row disabled">There are no contests.</a>
</div>
<hr/>