$def with (course, start, end, blackout, tasks, results, activity, cid, cname)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $cname - Overview

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li><a href="$get_homepath()/contest/$course.get_id()/$cid/overview">$cname</a></li>
        <li class="active"><a href="#"><i class="fa fa-cog"></i> Overview <span class="sr-only">(current)</span></a></li>
    </ol>
$var Navbar: $:NavbarF()


$# Left column content
$def ColumnF():
    <h3>Contest options</h3>
    <div class="list-group">

    <a href="$get_homepath()/contest/$course.get_id()/$cid/scoreboard" class="list-group-item">
        <i class="fa fa-list-alt fa-fw"></i>&nbsp; Scoreboard</a>
    <a href="$get_homepath()/contest/$course.get_id()/$cid/overview" class="list-group-item active">
        <i class="fa fa-cog fa-fw"></i>&nbsp; Overview</a>
    </div>

    $if user_manager.has_staff_rights_on_course(course):
		<h3>Contest management</h3>
        <div class="list-group">
            <a class="list-group-item list-group-item-info" href="$get_homepath()/admin/$course.get_id()/$cid/contest">
                <i class="fa fa-user-secret fa-fw"></i>&nbsp; Edit contest
            </a>
        </div>

    $:template_helper.call('main_menu', template_helper=template_helper)
$var Column: $:ColumnF()

<h2>$cname - Overview</h2>
<div class="well">
    <div class="row">
        <div class="col-md-6" style="margin-top:2px;">
            Contest starts: $start.strftime('%d/%m/%Y %H:%M:%S')<br/>
            Contest ends: $end.strftime('%d/%m/%Y %H:%M:%S')<br/>
        </div>
        <div class="col-md-6" style="margin-top:2px;">
            $if start > start.now():
                <span class="contest_starting_time" starts-at="$start.strftime('%Y-%m-%d %H:%M:%S')"></span>
            $else:
                <span class="contest_remaining_time" ends-at="$end.strftime('%Y-%m-%d %H:%M:%S')"></span>
                $if blackout != end:
                    <br/><span class="contest_blackout_time" blackout-at="$blackout.strftime('%Y-%m-%d %H:%M:%S')"></span>
        </div>
    </div>
</div>
$if start <= start.now():
	<table class="contest_scoreboard">
	    <tr>
	        <th class="contest_rank">Rank</th>
	        <th class="contest_contestant">Identifier</th>
            <th class="contest_contestant">Name</th>
	        <th colspan="2" class="contest_score_header">Score</th>
	        $for taskid in tasks:
	            <th class="contest_task"><a href="$get_homepath()/course/${course.get_id()}/$taskid/${taskid+'.pdf'}" target="_blank">$taskid</a></th>
	    </tr>
	    $for username, data in results.items():
	        <tr>
	            <td class="contest_rank">$data['displayed_rank']</td>
	            <td class="contest_contestant">$data['name']</td>
                <td class="contest_contestant">$data['realname']</td>
	            <td class="contest_score_task">$data['score'][0]</td>
	            <td class="contest_score_time">$int(data['score'][1])</td>
	            $for taskid in tasks:
	                $if data['tasks'][taskid]['status'] == 'ACF':
	                    <td class="contest_task contest_ac_first">${data['tasks'][taskid]['tries']}/$int(data['tasks'][taskid]['score'])</td>
	                $elif data['tasks'][taskid]['status'] == 'AC':
	                    <td class="contest_task contest_ac">${data['tasks'][taskid]['tries']}/$int(data['tasks'][taskid]['score'])</td>
	                $elif data['tasks'][taskid]['status'] != 'NA':
	                    <td class="contest_task contest_wa_tle">$data['tasks'][taskid]['tries']</td>
	                $else:
	                    <td class="contest_task contest_na">0</td>
	        </tr>
	</table>
	<h3>Submit a problem</h3>
    <div id="task_alert"></div>
    <div class="well">
        <div class="row">
            <form id="task" method="post" action="$get_homepath()/course/" enctype="multipart/form-data">
                <input type="hidden" name="@action" value="submit"/>
                <div class="col-sm-3">
                    <label class="btn btn-primary btn-block" for="1">
                        <input id="1" name="1" data-allowed-exts='[".py"]' type="file" style="display:none;">
                        Select file
                    </label>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" id="problem_id" placeholder="Select a problem...">
                            $for taskid in tasks:
                                <option value="$taskid">$taskid</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" id="language" placeholder="Language">
                            <option value="py3">Python 3</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-success btn-block" onclick="" name="submit" id="submit">
                        Submit
                    </button>
                </div>
                <div class="col-sm-2">
                    <button type="reset" class="btn btn-warning btn-block" name="reset" id="reset">
                        Reset
                    </button>
                </div>
            </form>
        </div>
    </div>


	<h3>Activity</h3>
	<table class="table table-centered table-condensed table-bordered">
	    <tr><th>Time</th><th>Contestant</th><th>Problem</th><th>Result</th></tr>
	    $for a in activity:
	        <tr>
	            <td>$a['when'].strftime("%d/%m/%Y %H:%M:%S")</td>
	            <td>$a['user']</td>
	            <td>$a['taskid']</td>
	            <td>
	                $a['result']
	            </td>
	        </tr>
	</table>

    <script type="text/javascript">
    $$(document).ready(function() {
        init_task_page("best");
        $$("#submit").on("click", function(){
            probid = $$('#problem_id').val();
            $$('#task').attr('action', '$get_homepath()/course/$course.get_id()/'+probid);
        });
    });
    </script>

$else:
    <div class="alert alert-warning">Contest has not started yet.</div>