$def with (course, start, end, blackout, tasks, results, activity, cid, cname, is_public)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $cname - Scoreboard

$def NavbarF():
    $if is_public == False:
        <ol class="nav navbar-nav nav-breadcrumb">
            <li><a href="$get_homepath()/contest/$course.get_id()/$cid/overview">$cname</a></li>
            <li class="active"><a href="#"><i class="fa fa-trophy"></i> Scoreboard <span class="sr-only">(current)</span></a></li>
        </ol>
$var Navbar: $:NavbarF()


$# Left column content
$def ColumnF():
    $if is_public == False:
        <h3>Contest options</h3>

        <div class="list-group">

        <a href="$get_homepath()/contest/$course.get_id()/$cid/scoreboard" class="list-group-item active">
            <i class="fa fa-list-alt fa-fw"></i>&nbsp; Scoreboard</a>
        <a href="$get_homepath()/contest/$course.get_id()/$cid/overview" class="list-group-item">
            <i class="fa fa-cog fa-fw"></i>&nbsp; Overview</a>
        </div>

        $if user_manager.has_staff_rights_on_course(course):
            <h3>Contest management</h3>
            <div class="list-group">
                <a class="list-group-item list-group-item-info" href="$get_homepath()/admin/$course.get_id()/$cid/contest">
                    <i class="fa fa-user-secret fa-fw"></i>&nbsp; Edit contest
                </a>
            </div>

        $:template_helper.call('main_menu', template_helper=template_helper)
$var Column: $:ColumnF()

$if end > end.now():
    <meta http-equiv="refresh" content="30" />

<h2>$cname - Scoreboard</h2>
$if is_public == False:
    <div class="well">
        <div class="row">
            <div class="col-md-4" style="margin-top:2px;">
                Contest starts: $start.strftime('%d/%m/%Y %H:%M:%S')<br/>
                Contest ends: $end.strftime('%d/%m/%Y %H:%M:%S')<br/>
            </div>
            <div class="col-md-4" style="margin-top:2px;">
                $if start > start.now():
                    <span class="contest_starting_time" starts-at="$start.strftime('%Y-%m-%d %H:%M:%S')"></span>
                $else:
                    <span class="contest_remaining_time" ends-at="$end.strftime('%Y-%m-%d %H:%M:%S')"></span>
                    $if blackout != end:
                        <br/><span class="contest_blackout_time" blackout-at="$blackout.strftime('%Y-%m-%d %H:%M:%S')"></span>
            </div>
            <div class="col-md-4" style="margin-top:2px;">
                $if end > end.now():
                    The scoreboard will refresh every 30 seconds.
            </div>
        </div>
    </div>
$if start <= start.now():
	$:include.score(course, tasks, results)
$else:
    <div class="alert alert-warning">Contest has not started yet.</div>