$def with (course, data, problems, bank_name, techniques, structures)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<h4>
    Add problems:

    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-sm btn-primary" onclick="$$('#modal_add_problems_manually').modal('show'); return false;" type="button"><i class="fa fa-save"></i> Manually</button>
            <button class="btn btn-sm btn-primary" onclick="$$('#modal_generate_contest').modal('show'); return false;" type="button"><i class="fa fa-save"></i> Automatically</button>
        </div>
    </div>
</h4>

<hr>

<h4>Added problems:</h4>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
</div>
