$def with (course,task_data,available_filetypes,AccessibleTime,current_filetype,contains_is_html,environments, techniques, structures)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<div class="form-group">
    <label for="name" class="col-sm-3 control-label">Name</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="name" name="name" placeholder="title for this problem" value="${task_data.get('name','')}">
    </div>
    <div class="col-sm-3">
        <button type="button" data-toggle="modal" data-target="#delete_modal" class="btn btn-block btn-danger">
            <i class="fa fa-trash"></i> Delete problem
        </button>
    </div>

</div>
$if len(available_filetypes) != 1:
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Filetype</label>
        <div class="col-sm-9">
            <select class="form-control" id="@filetype" name="@filetype">
                $for type in available_filetypes:
                    <option value="$type"
                        $if type == current_filetype or (current_filetype is None and type == "yaml"):
                            selected="selected"
                    >$type</option>
            </select>
        </div>
    </div>
$else:
    <input type="hidden" id="@filetype" name="@filetype" value="$available_filetypes[0]"/>
<div class="form-group">
    <label for="author" class="col-sm-3 control-label">Author</label>
    <div class="col-sm-9">
        $if isinstance(task_data.get('author',[]),list):
            $ a=', '.join(task_data.get('author',[]))
        $else:
            $ a=task_data.get('author',[])
        <input type="text" class="form-control" id="author" name="author" placeholder="Your name" value="$a"/>
    </div>
</div>

<div class="form-group">
    <label for="category" class="col-sm-3 control-label">Technique</label>
    <div class="col-sm-9">
        <select id="category" class="form-control" name="category">
            $for category in techniques:
                <option value="$category"
                    $if category == task_data.get('category',''):
                        selected="selected"
                >$category</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="structure" class="col-sm-3 control-label">Structure</label>
    <div class="col-sm-9">
        <select id="structure" class="form-control" name="structure">
            $for structure in structures:
                <option value="$structure"
                    $if structure == task_data.get('structure',''):
                        selected="selected"
                >$structure</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="difficulty" class="col-sm-3 control-label">Difficulty (1-10)</label>
    <div class="col-sm-9">
        <input type="number" class="form-control" id="difficulty" name="difficulty" placeholder="5" value="${task_data.get('difficulty',5)}"/>
    </div>
</div>

<div class="form-group">
   <label for="problem_file" class="col-sm-3 control-label">Select problem file statement:</label>
   <div class="col-sm-9">
       <input type="file" id="problem_file" name="problem_file" data-allowed-exts="['.pdf']" class="filestyle" data-buttonName="btn-primary" data-buttonBefore="true" accept="application/pdf"/>
   </div>
</div>

<div class="form-group">
    <label for="real_time" class="col-sm-3 control-label">Timeout limit (in seconds)</label>
    <div class="col-sm-9">
        <input type="number" class="form-control" id="real_time" name="real_time" placeholder="30" value="${task_data.get('real_time',30)}"/>
    </div>
</div>
<div class="form-group">
    <label for="limit-memory" class="col-sm-3 control-label">Memory limit (in megabytes)</label>
    <div class="col-sm-9">
        <input type="number" class="form-control" id="limit-memory" name="limits[memory]" placeholder="30" value="${task_data.get('limits',{}).get('memory',100)}"/>
    </div>
</div>
<div class="form-group">
    <label for="limit-output" class="col-sm-3 control-label">Output limit (in megabytes)</label>
    <div class="col-sm-9">
        <input type="number" class="form-control" id="limit-output" name="limits[output]" placeholder="2" value="${task_data.get('limits',{}).get('output',2)}"/>
    </div>
</div>
<div class="form-group">
    <label for="authenticity_percentage" class="col-sm-3 control-label">Authenticity percentage (100% = skip authenticity check)</label>
    <div class="col-sm-9">
        <input type="number" class="form-control" id="authenticity_percentage" name="authenticity_percentage" placeholder="100 = skip authenticity check" value="${task_data.get('authenticity_percentage',100)}"/>
    </div>
</div>
<div class="form-group">
    <label for="code_analysis" class="col-sm-3 control-label">Execute an static code analysis?</label>

    <div class="col-sm-9">
        <div class="checkbox"><label>
            <input type="checkbox" id="code_analysis" name="code_analysis"
                   $if task_data.get('code_analysis',False):
                       checked="checked"
            />&nbsp;
        </label></div>
    </div>
</div>
<div class="form-group">
    <label for="environment" class="col-sm-3 control-label">Grading environment</label>
    <div class="col-sm-9">
        <select id="environment" class="form-control" name="environment">
            $for env in environments:
                <option value="$env"
                    $if env == task_data.get('environment'):
                        selected="selected"
                >$env</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label for="network_grading" class="col-sm-3 control-label">Allow internet access inside the grading container?</label>

    <div class="col-sm-9">
        <div class="checkbox"><label>
            <input type="checkbox" id="network_grading" name="network_grading"
                   $if task_data.get('network_grading',False):
                       checked="checked"
            />&nbsp;
        </label></div>
    </div>
</div>

