<div class="modal fade" id="modal_file_upload" tabindex="-1" role="dialog" aria-labelledby="modal_file_upload_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="task_upload_form" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal_file_upload_label">Upload a test case</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="action" value="upload"/>
                    <div class="form-group">
                        <label for="upload-file-path" class="control-label">Test case description:</label>
                        <input type="text" class="form-control" id="upload-file-path" name="testcase_desc" value=""/>
                    </div>
                    <div class="form-group">
                       <label for="testcase_input" class="control-label">Select input file:</label>
                       <input type="file" id="testcase_input" name="testcase_input" accept=".in"/>
                    </div>
                    <div class="form-group">
                       <label for="testcase_output" class="control-label">Select output file:</label>
                       <input type="file" id="testcase_output" name="testcase_output"  accept=".out"/>
                    </div>
                    <div class="form-group">
                       <label for="testcase_feedback" class="control-label">Select feedback file (optional):</label>
                       <input type="file" id="testcase_feedback" name="testcase_feedback"  accept=".fb"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="studio_task_file_upload();event.preventDefault();">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>