$def with (course,taskid,file_list,error)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<div role="tabpanel" class="tab-pane active" id="tab_file_list">
    $if error is not None:
        <div class="alert alert-danger" role="alert" style="text-align: center;">
            $error
        </div>
    <table class="table table-bordered table-condensed">
        <tr>
            <th class="col-sm-7">Test case name</th>
            <th class="col-sm-1">Download</th>
            <th class="col-sm-1">Edit input</th>
            <th class="col-sm-1">Edit output</th>
            <th class="col-sm-1">Edit feedback</th>
            <th class="col-sm-1">Delete</th>
        </tr>
        <tr>
            <td><i class="fa fa-folder-open"></i>&nbsp;/</td>
            <td><a href="$get_homepath()/admin/${course.get_id()}/edit/task/$taskid/files?action=download&path=."
                   onclick="studio_task_edit_downloadfile('/'); return false;" class="btn btn-sm btn-primary btn-block" title="download"><i
                    class="fa fa-cloud-download"></i></a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        $for name in file_list:
            <tr data-x-path="$name">
                <td>
                    $name
                </td>
                <td>
                    <a href="$get_homepath()/admin/${course.get_id()}/edit/task/$taskid/files?action=download&path=$name"
                       class="btn btn-sm btn-primary btn-block" title="download"><i class="fa fa-cloud-download"></i></a>
                </td>
                <td>
                    <a href="#" onclick="studio_task_file_open_tab('${name+".in"}'); return false;" class="btn btn-sm btn-warning btn-block"
                       title="edit"><i class="fa fa-edit"></i></a>
                </td>
                <td>
                    <a href="#" onclick="studio_task_file_open_tab('${name+".out"}'); return false;" class="btn btn-sm btn-warning btn-block"
                           title="edit"><i class="fa fa-edit"></i></a>
                </td>
                <td>
                    <a href="#" onclick="studio_task_file_open_tab('${name+".fb"}'); return false;" class="btn btn-sm btn-warning btn-block"
                           title="edit"><i class="fa fa-edit"></i></a>
                </td>

                <td>
                    <a href="#" onclick="studio_task_file_delete('$name'); return false;" class="btn btn-sm btn-danger btn-block"
                       title="delete"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        <tr>
            <th colspan="6" style="text-align:right">
                <a href="#" onclick="$$('#modal_file_upload').modal('show'); return false;" class="btn btn-sm btn-info">Upload a new test case</a>
            </th>
        </tr>
    </table>
</div>
